@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body{
	margin:0;
	padding-top:4%;
    background-color:#262626;
	font-family:calibri;
}

.topnav{
	background:#424950;
	height:4em;
	position:fixed;
	top:0;
	width:100%
}

.topnav ul{
    float:right;
    margin-top:15px;
}

.topnav ul li{
    display:inline;
    margin-right: 40px;
}

.topnav ul li a{
    color:white;
    font-family: calibri;
    font-size:16px;
}

.topnav ul li a:hover{
    color:grey;
    text-decoration: none;
}

#eportfolio{
	font-size:22px;
	float:left;
	padding:10px 8px 8px 20px;
	color:white;
}

#eportfolio a{
    font-size:25px;
    color:white;
    text-decoration: none;
}

#skills{
    line-height:1.7;
	margin:0 auto 0 auto;
	width:60%;
	padding:3% 5% 5% 5%;
    font-size:16px;
    color:white;
}

.footer{
    margin:0 auto 10px auto;
    padding-top:2px;
    border-radius:15px;
    float:right;
    height:30px;
    position:fixed;
    right:0;
    left:0;
    bottom: 0;
    width: 8.5%;
    background-color:#424950;
    color: white;
    text-align: center;
}

.fa {
  font-size: 18px;
  text-align: center;
}

#envelope{
    color:white;
    font-size:18px;
}

#envelope:hover{
    text-decoration: none;
}

@media only screen and (max-width:800px){
	body{
		margin:0;
		padding-top:14%;
	}
	
    #eportfolio{
        font-size:22px;
        float:left;
        padding:9.5px 8px 8px 20px;
        color:white;
    }
	
	.topnav ul{
		float:right;
		margin-top:17px;
    }
    
    .topnav ul li{
        display:inline;
        margin-right: 18px;
    }

    .topnav ul li a{
        color:white;
        font-family:calibri;
        font-size:15px;
    }
    
	#para-wrap{
		line-height:1.6;
		font-size:13px;
	}
    
    #skills{
        line-height:1.7;
        margin:0 auto 0 auto;
        width:80%;
        padding:3% 5% 5% 5%;
        font-size:16px;
        color:white;
    }
    
    .footer{
        margin:0 auto 10px auto;
        padding-top:2px;
        border-radius:15px;
        float:right;
        height:30px;
        position:fixed;
        right:0;
        left:0;
        width: 28%;
        background-color:#424950;
        color: white;
        text-align: center;
    }
}
