@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css);

body {
	background-color: #F5CBA7;
}
.quote-box {
	border-radius:5px;
	position:relative;
	width:35%;
	height:250px;
	margin: 40px auto 10px auto;
	padding:0px 20px 0px 20px;
	display: table;
	background-color:#E59866;
}
button{
	background-color:#E59866;
	color:white;
}
header{
	padding-top:30px; 
}
#quote-author{
	text-align:right;
	color: white;
	font-size:20px;
	font-family:serif;
	font-style:italic;
	margin:0 3% 0 3%;
}
#quote-content{
	text-align: center;
	color: white;
	font-size:20px;
	font-family:serif;
	font-style:italic;
	margin:0 3% 0 3%;
}
#quote-source{
	text-align:center;
	color: white;
	font-size:14px;
	margin:-2% 0 2% 0;
}

@media only screen and (max-width: 900px){
	#wrap{
		margin:0 2% 0 2%;
	}
	.quote-box {
		border-radius:5px;
		position:relative;
		width:85%;
		height:250px;
		margin: 40px auto 10px auto;
		padding:0px 20px 0px 20px;
		display: table;
		background-color:#E59866;
	}
}
