@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
    --base-color: #292929;
    --secondary-color: #00ffff;
    --base-font-family: 'Nunito Sans', sans-serif;
    --base-font-size: 16px;
}

a:hover {
    text-decoration: none;
}

body {
    background-color: var(--base-color);
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    margin: 0;
    color: #fafafa;
}

.nav-bar {
    position: fixed;
    left: 0;
    right: 0;
    height: 54px;
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
    background-color: var(--base-color);
    opacity: .9;
}

.nav-bar > .left-section, .right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-bar .left-section div a {
    margin-right: 22px;
}

.nav-bar .right-section div {
    display: flex;
}

.nav-bar .right-section div div {
    margin-left: 24px;
}

.fa {
    font-size: 18px;
}

.fa-envelope-o {
    font-size: 16.5px;
}

.page-content {
    padding: 94px 20% 40px;
}

.para-header {
    font-size: 18px;
    margin-bottom: 16px;
    color: #7fffd4;
}

.para-header-2 {
    font-size: 16px;
    margin-bottom: 16px;
    color: var(--secondary-color);
}

.para {
    line-height: 34px;
    margin-bottom: 20px;
}

.highlight {
    color: #66ccff;
}

@media screen and (max-width: 425px) {
    .nav-bar {
        padding: 0 18px;
    }

    .nav-bar .left-section div a {
        margin-right: 12px;
    }

    .nav-bar .right-section div div {
        margin-left: 15px;
    }

    .page-content {
        padding: 70px 7% 40px;
    }
}
