@import 'global.css';

.section {
    margin-bottom: 26px;
}

.para {
    line-height: 26px;
}

.resume-link {
    color: aquamarine;
}

.resume-link a {
    color: aquamarine;
}

.resume-link a:hover {
    text-decoration: underline;
    color: aquamarine;
}

.para-header-2 {
    margin-bottom: 8px;
}
